<?xml version="1.0"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

	<context:annotation-config />
	<bean class="spring.training.cfg.AppConfig3" />
	<!-- <bean class="spring.training.cfg.SecurityConfig" /> -->
	
	<context:property-placeholder location="file:///Users/vinodkumar/Desktop/jdbc.properties"/>
	
	<bean class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="${db.driver}" />
		<property name="url" value="${db.url}" />
		<property name="username" value="${db.user}" />
		<property name="password" value="${db.password}" />
		
	</bean>

</beans>